version: "3.8"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/DevMatch
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: admin!

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - backend

  semantic_service:
    build:
      context: ./semantic_service
    ports:
      - "8000:8000"

  db:
    image: postgres:15
    container_name: devmatch-postgres
    restart: always
    environment:
      POSTGRES_DB: DevMatch
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin!
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: